.each-song-container {
    padding-left: 14px;
    display: flex;
    cursor: pointer;
    margin: 14px 0; 
}

.each-song-container:hover {
    background: rgba(22, 24, 35, 0.1);
}

.search-song-info {
    margin-left: 10px;
}

.search-song-title {
    padding-bottom: 5px;
    font-weight: 600;
}
