/* Search Bar */
.search-part-wrapper {
    width: 100%;
    height: 115px;
    border-bottom: 2px solid #e6eaf2;
    z-index: 2;
}

.search-song-bar {
    width: 45%;
    height: 50px;
    padding: 12px 24px;
    border-radius: 50px;
    margin-left: 178px;
    margin-top: 50px;
    position: relative;
}

.player-container {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

/* Sign Out Button */
.sign-out-wrapper {
    float: right;
    margin-right: -206px;
    margin-top: 55px;
}

.sign-out-button {
    font-size: 2.0rem;
    text-decoration: none;
    color: var(--black);
}

.sign-out-button:hover {
    text-decoration: underline;
}

/* Middle Part of an app (Sidebar + Content) */
.app-container {
    display: flex;
}

/* Trending Songs of Content */
.trending-song-wrapper {
    width: 990px;
    margin-left: -20px;
    overflow: hidden;
    padding-left: 23px;
}

.trending-song-title {
    font-size: 3.0rem;
    font-weight: 550;
}

.trending-song-container {
    display: flex;
}

/* Top Artists of Content */
.top-artists-wrapper {
    width: 990px;
    margin-left: -20px;
    overflow: hidden;
    padding-left: 23px;
}

.top-artists-title {
    font-size: 3.0rem;
    font-weight: 550;
}

.top-artists-container {
    display: flex;
}

/* New Releases Song */
.new-releases-song-wrapper {
    width: 990px;
    margin-left: -20px;
    overflow: hidden;
    padding-left: 23px;
}

.new-releases-song-title {
    font-size: 3.0rem;
    font-weight: 550;
}

.new-releases-song-container {
    display: flex;
}


/* Responsive */
/* PC */
@media (min-width: 100em)  {
    .trending-song-wrapper,
    .top-artists-wrapper,
    .new-releases-song-wrapper
    {
        width: 1200px;
    }

    .sign-out-wrapper {
        margin-right: -229px;
    }
}